<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="site-logo" src="https://www.pngitem.com/pimgs/m/534-5344258_comment-chat-message-icon-hd-png-download.png" alt="Logo"/>
        <a class="navbar-brand"  href="/group"> &nbsp;&nbsp;Zap Fast</a>
      </div>
     
       <a href="/group">Grupos</a> 
       <a href="/user">Chat</a>
        <a href="/user/logout">Logout</a>
    </div>
  </nav>